<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="CurrencyConnectionString" connectionString="Data Source = (LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\src-barbi-91\currency-converter\currency-converter\database\CurrencyDataTable.mdf;Integrated Security=True" providerName="sqlserver"/>
	</connectionStrings>
</configuration>